* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    position: relative;
}

h1 i {
    font-size: 2.5rem;
    color: #ff6363;
    margin-right: 10px;
}

h1 span {
    color: #ff6363;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.about-content:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.about-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: filter 0.4s ease, transform 0.3s ease;
}

.about-image img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.about-details {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.about-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.about-details h4 {
    font-size: 1.5rem;
    color: #ff6363;
    margin-bottom: 20px;
}

.about-details p {
    font-size: 1rem;
    margin-bottom: 10px;
    color:#333;
}

.about-details p span {
    font-weight: bold;
    color: #333;
}

button {
    background-color: #ff6363;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff1e56;
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-details {
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .about-image img {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 2rem;
    }

    h1 i {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .about-details h2 {
        font-size: 1.7rem;
    }

    .about-details h4 {
        font-size: 1.3rem;
    }

    button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h1 i {
        font-size: 1.7rem;
    }

    .about-image img {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h1 i {
        font-size: 1.5rem;
    }

    .about-image img {
        width: 180px;
        height: 180px;
    }

    .about-details h2 {
        font-size: 1.5rem;
    }

    .about-details h4 {
        font-size: 1.1rem;
    }

    button {
        padding: 6px 15px;
        font-size: 0.8rem;
    }
}
